<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Attributes</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>Enter Face Attributes</h1>
    <div class="back">
        <form action="/process" method="post">
            <h2>Attributes</h2>
            <textarea id="attributes" name="attributes" rows="20" cols="50"></textarea><br><br>        
            <button id="button">Submit</button>
        </form>
        <img src="static/big.gif" alt="" class="gif">
    </div>
</body>
</html>
